{{body-class 'confirmation'}}
{{page-title 'Please confirm'}}

<p>
  Please check your inbox, open the email we&rsquo;ve just sent you, and click
  the link inside it to confirm your new account.
</p>

{{outlet}}
