<% if @user == current_user %>
  <h2>User Information</h2>
  <%= "Current User: #{ @user.email }" %>
  <br>
  <%= "API Key: #{ @user.api_key }" %>
  <h3>Lists</h3>
  <% @lists.each do |list| %>
        <div id="list-<%= list.id %>">
          <%= link_to list.title, list_path(list) %>
        </div>
  <% end %>
<% end %>