<form {{action "create" on="submit"}}>
  <label for="title">List Title</label>
  {{input id="title" type="text" required="true" value=list.title}}

  <button type="submit" disabled={{list.isSaving}}>
    {{#if list.isSaving}}Saving&hellip;{{else}}Save{{/if}}
  </button>
</form>
