<form {{action "create" on="submit"}}>
  <label for="title">List Title</label>
  {{input id="title" type="text" required="true" value=list.title}}

  {{#if list.isDirty}}<button type="submit">Save</button>{{/if}}
</form>
