$color-go: #009966;
$color-go-hover: #008055;

$color-grey-very-dark: #111;
$color-grey-dark: #999;
$color-grey-medium: #666;
$color-grey-light: #ccc;

$color-red: red;

$color-yellow-pale: #ffffcc;

$color-white: white;