body {
  margin: 0;
  padding: 0;
  font-family: $sans-serifs;
  font-size: 1em;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

body > div {
  width: 100%;
}
