$color-primary: $color-green-medium;

body.lists {
  align-items: flex-start;
  background-color: $color-grey-very-light;

  ol {
    font-size: 1.25em;
    list-style: none;
    margin: 0;
    padding: 0 0 0 1.125em;
    color: $color-grey-medium;
    background-color: $color-white;
  }

  li {
    border-bottom: 0.125em solid $color-grey-light;
    padding: 0 0 0 0.125em;
    line-height: 4em;

    a {
      display: block;
      text-decoration: none;
    }

    &:first-child a {
      color: $color-primary;
    }

    &:last-child {
      border-bottom-width: 0;
    }

  }

}
