body.lists {
  align-items: flex-start;
  background-color: $color-grey-very-light;

  h1 {
    font-size: 1.375em;
    margin: 0;
    padding: 0.5em 0;
    color: $color-white;
    background-color: $color-green-medium;
  }

  nav {
    display: none;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
  }

}
