table {
  font-size: 1.25em;
  margin: 0;
  line-height: 2em;
  width: 100%;
  border-spacing: 0 0.5em;
}

tr {
  margin-bottom: 0.5em;
}

td {
  border-left: 0.25em solid $color-turquoise;
  padding-left: 0.375em;
  background-color: white;
}
