<div class="col-lg-10 col-lg-offset-1">
  <%= simple_form_for [@list, @list.items.build], html: { class: 'inline-form' }, remote: true, format: :js do |f| %>
    <div class="input-group">
        <%= f.input :name, label: false, placeholder: "Add a New Item", class: "form-control", as: :string %>
      <span class="input-group-btn">
        <%= button_tag(type: 'submit', class: "btn btn-success") do %>
          <i class="fa fa-plus"></i> Add
        <% end %>
      </span>
    </div>
  <% end %>
</div>
