{{body-class "home"}}
{{page-title "Welcome"}}

<h1>Take charge of your todos</h1>

{{#link-to 'user.new' classNames='button'}}Create a new account &rarr;{{/link-to}}
{{#link-to 'session.new' classNames='button'}}Use your existing account &rarr;{{/link-to}}

{{outlet}}
