{{body-class "lists"}}
{{page-title "Your Lists"}}

<h1>Your Lists</h1>

<table>
  {{#each model as |list|}}
    <tr>
      <td>{{list.title}}</td>
    </tr>
  {{/each}}
</table>

_Create your first list_ (no lists message)


{{outlet}}

<footer>
  This is the footer nav
</footer>
