{{body-class "lists"}}
{{page-title "Your Lists"}}

<h1>Your Lists</h1>
<ol>
  <li><a href="javascript:void(0)">+ New List</a></li>
  {{#each model as |list|}}
    <li>{{list.title}}</li>
  {{/each}}
</ol>

{{outlet}}
